@tailwind base;
@tailwind components;
@tailwind utilities;

/* ID PROP PARA SIDEBAR */
#sidebar {
  width: 340px;
  height: 100vh;
  background: linear-gradient(0deg, #da7c94 0%, #d97991 50.81%, #cb496a 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

#sidebarBlue {
  width: 340px;
  height: 100vh;
  background: linear-gradient(180deg, #55a4d1 0%, #55a4d1 57.81%, #1472a8 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

#sidebarYellow {
  width: 340px;
  height: 100vh;
  background: linear-gradient(180deg, #f3c74c 0%, #e0c068 57.81%, #f3c74c 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

#sidebarGreen {
  width: 340px;
  height: 100vh;
  background: linear-gradient(180deg, #007a63 1.24%, #00c39d 42.12%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/* ClassName prop para Navbar */
a {
  font-family: "Open Sans", sans-serif;
  color: #d96ba6;
  font-size: 1.125rem;
  margin-right: 20px;
}

.anchorBlue {
  color: #55a4d1;
}

.anchorYellow {
  color: #f3c74c;
}

.anchorGreen {
  color: #007a63;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  /* margin: 10.563rem 0 0 2.25rem; */
}

h6 {
  font-family: "Archivo Black", sans-serif;
  width: 44.563rem;
}

p {
  font-family: "Open Sans", sans-serif;
}

.textcontainer {
  width: 39.625rem;
}

.grid {
  width: 48vw;
}

input,
select,
textarea {
  border: 2px solid #55a4d1;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2px 0px 2px 10px;
  margin-right: 15px;
  margin-left: 15px;
  height: 5vh;
}

textarea {
  height: 10vh;
}

#available_time,
#discord_id {
  width: 90%;
}

#buttonRed {
  height: 6vh;
  background: #d66e89;
  margin-top: 3.9vh;
}

#buttonYellow {
  height: 6vh;
  background: #f3c74c;
}

#mosaic {
  width: 340px;
  height: 49vh;
  background-image: url(../public/assets/img/logo.png);
  background-repeat: repeat;
  background-size: 34px;
  opacity: 0.3;
}

#containerflex {
  width: 100%;
}

#successcontainer {
  width: 48.813rem;
}

img.cmyk {
  width: 19vw;
}

#dropdown-error {
  background-color: #fee2e2;
  color: #766969;
  border-color: #b91c1c;
}

#dropdown-error-2 {
  background-color: #fee2e2;
  color: #766969;
  border-color: #b91c1c;
  width: 91%;
}

.experience-error {
  background-color: #fee2e2;
  color: #766969;
  width: 91%;
  margin-top: 2vh;
  margin-left: 2.5vh;
}

.closed-form {
  width: 26vw;
  display: flex;
  flex-direction: column;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
}
