@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar {
  width: 379px;
  height: 105vh;
  background: linear-gradient(0deg, #da7c94 0%, #d97991 50.81%, #cb496a 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

#sidebarblue {
    width: 379px;
    height: 105vh;
    background: linear-gradient(180deg, #55A4D1 0%, #55A4D1 57.81%, #1472A8 100%);
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  font-family: "Archivo Black",sans-serif;
  font-style: normal;
  font-weight: normal;
  /* font-size: 3.5rem;
  line-height: 61px; */
  color: #fff;
  /* margin: 10.563rem 0 0 2.25rem; */
}

h6 {
    font-family: "Archivo Black", sans-serif;
    width: 44.563rem;
}

p {
    font-family: "Open Sans", sans-serif;
}

.textcontainer {
    width: 39.625rem;
}
a {
  font-family: "Open Sans", sans-serif;
  color: #D96BA6;
  font-size: 1.125rem;
}

.anchorblue {
    font-family: "Open Sans", sans-serif;
    color: #55A4D1; 
  font-size: 1.125rem;
}

input, select, textarea {
  border: 2px solid #55a4d1;
  box-sizing: border-box;
  border-radius: 10px;
}

textarea {
    height: 5.199rem;
}

#freetime {
    width: 17.063rem;
}

button {
    height:2.813rem;
    background: #D66E89;
}

#mosaic {
    height: 55vh;
    background-image: url(../public/assets/img/logo.png);
    background-repeat: repeat;
    background-size: 34px;
    opacity: 0.3;
}

#containerflex {
    width: 100%;
}

#successcontainer {
    width: 48.813rem;
}