@tailwind base;
@tailwind components;
@tailwind utilities;

/* ID PROP PARA SIDEBAR */
#sidebar {
  width: 340px;
  height: 100vh;
  background: linear-gradient(0deg, #da7c94 0%, #d97991 50.81%, #cb496a 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

#sidebarBlue {
  width: 340px;
  height: 100vh;
  background: linear-gradient(180deg, #55a4d1 0%, #55a4d1 57.81%, #1472a8 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

#sidebarYellow {
  width: 340px;
  height: 100vh;
  background: linear-gradient(180deg, #f3c74c 0%, #e0c068 57.81%, #f3c74c 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/* ClassName prop para Navbar */
a {
  font-family: "Open Sans", sans-serif;
  color: #d96ba6;
  font-size: 1.125rem;
}

.anchorBlue {
  font-family: "Open Sans", sans-serif;
  color: #55a4d1;
  font-size: 1.125rem;
}

.anchorYellow {
  font-family: "Open Sans", sans-serif;
  color: #f3c74c;
  font-size: 1.125rem;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  /* margin: 10.563rem 0 0 2.25rem; */
}

h6 {
  font-family: "Archivo Black", sans-serif;
  width: 44.563rem;
}

p {
  font-family: "Open Sans", sans-serif;
}

.textcontainer {
  width: 39.625rem;
}

input,
select,
textarea {
  border: 2px solid #55a4d1;
  box-sizing: border-box;
  border-radius: 10px;
}

textarea {
  height: 5.199rem;
}

#available_time {
  width: 23rem;
}

#buttonRed {
  height: 2.813rem;
  background: #d66e89;
}

#buttonYellow {
  height: 2.813rem;
  background: #f3c74c;
}

#mosaic {
  width: 340px;
  height: 53vh;
  background-image: url(../public/assets/img/logo.png);
  background-repeat: repeat;
  background-size: 34px;
  opacity: 0.3;
}

#containerflex {
  width: 100%;
}

#successcontainer {
  width: 48.813rem;
}



