#sidebar {
  width: 379px;
  height: 100vh;
  background: linear-gradient(0deg, #da7c94 0%, #d97991 57.81%, #cb496a 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 61px;
  color: #fff;
  /* margin: 10.563rem 0 0 2.25rem; */
}

a {
  font-family: "Open Sans", sans-serif;
  color: #D96BA6;
  font-size: 1.125rem;
}

input, select, textarea {
  border: 2px solid #55a4d1;
  box-sizing: border-box;
  border-radius: 10px;
}

textarea {
    height: 5.199rem;
}

#freetime {
    height: 2.862rem;
}

button {
    height:2.813rem;
    background: #D66E89;
}